body {
    font-family: "Open Sans Condensed", sans-serif;
    max-width: 1350px;
    margin: 0 auto;
    padding: 20px 60px;
}
@media (max-width: 800px) {
    body {
        padding: 15px 25px;
    }
}

a {
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
}
